:root {
	--yellow1: #ffcc00;
	--yellow2: #d5a100;
	--blue1: #0075be;
	--blue2: #0a285f;
	--redPokeball: #fb1b1b;
	--white: rgb(250, 250, 250);
	--black: rgb(30, 30, 30);
	--gray: #dfdfdf;
}

.mainContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
	column-gap: 12px;
}

.uList {
	display: flex;
	list-style-type: none;
	column-gap: 12px;
	margin: 0px;
	padding: 0px;
}

.aNumber {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--black);
	font-size: 16px;
	border-radius: 5px;
	background-color: var(--yellow1);
	width: 40px;
	height: 40px;
	transition: 0.5s;
	cursor: pointer;
	text-decoration: none;
}

.aNumber:hover {
	background-color: var(--yellow2);
}

.active {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	background-color: var(--yellow2);
	width: 40px;
	height: 40px;
	transition: 0.5s;
	text-decoration: none;
}

.prevNextButton {
	color: var(--black);
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: var(--yellow1);
	width: 80px;
	height: 40px;
	transition: 0.5s;
	cursor: pointer;
}

.prevNextButtonDisabled {
	color: var(--black);
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: var(--yellow1);
	width: 80px;
	height: 40px;
	transition: 0.5s;
	opacity: 0.5;
}

.prevNextButton:hover {
	background-color: var(--yellow2);
}
